local/
.idea/
.venv/
venv/
__pycache__

flavor/**/*.replaced
flavor/**/full.config
flavor/**/outputs/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
