#              x86_64              #
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

#               基础               #
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_default-settings=y
# IP 设置
CONFIG_IMAGEOPT=y
CONFIG_PREINITOPT=y
CONFIG_TARGET_PREINIT_IP="192.168.6.1"
CONFIG_TARGET_PREINIT_BROADCAST="192.168.6.255"
# 使用域名访问
CONFIG_DEFAULT_SETTINGS_USE_IP=y
CONFIG_DEFAULT_SETTINGS_USE_DOMAIN=n
# 开机等待
CONFIG_GRUB_TIMEOUT="0"
# 切换 WiFi 闭源驱动
CONFIG_PACKAGE_kmod-mt7615d=y
CONFIG_PACKAGE_kmod-mt7615d_dbdc=y
# CONFIG_PACKAGE_kmod-mt7615e is not set
# CONFIG_PACKAGE_kmod-mt7615-firmware is not set

#               主题               #
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y

#               插件               #
CONFIG_PACKAGE_luci-app-zerotier=y

#               其他               #
# 解决 luci-app-argon-config 依赖缺失
CONFIG_PACKAGE_luci-lib-ipkg=y
# 使用 dnsmasq-full
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
# 添加 SFTP 支持
CONFIG_PACKAGE_openssh-sftp-server=y
# 添加 ethtool
CONFIG_PACKAGE_ethtool-full=y
# 添加 nano
CONFIG_PACKAGE_nano-full=y
# 添加 git
CONFIG_PACKAGE_git-http=y
# vlan
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-ipvlan=y

# 启用 CCACHE
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_BINARY_FOLDER="/var/cache/openwrt/binary"
CONFIG_DOWNLOAD_FOLDER="/var/cache/openwrt/download"
CONFIG_LOCALMIRROR="/var/cache/openwrt/mirror"
CONFIG_CCACHE_DIR="/var/cache/openwrt/ccache"
CONFIG_BUILD_LOG_DIR="/var/cache/openwrt/log"
